<div class="app-container">
  <aside class="sidebar">
    <!-- todo: will add sidebar content & convos here -->
  </aside>

  <main class="main">
    <div class="messages-container">
      <div
        class="message-wrapper"
        *ngFor="let msg of chronologicalMessages"
        [ngClass]="msg.type === 'sent' ? 'sent-wrapper' : 'received-wrapper'"
      >
        <span class="timestamp">{{ msg.timestamp | date : "shortTime" }}</span>
        <div
          class="message"
          [ngClass]="msg.type === 'sent' ? 'sent-message' : 'received-message'"
        >
          <p>{{ msg.text }}</p>
        </div>
      </div>
    </div>

    <div class="input-section">
      <div class="input-wrapper">
        <input
          type="text"
          class="message-input"
          placeholder="Type your message..."
          [(ngModel)]="message"
          (keydown.enter)="sendMessage($event)"
        />
        <button
          class="send-button"
          type="submit"
          title="Send message"
          (click)="sendMessage($event)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 24 24"
            class="send-icon"
          >
            <path d="M4 20l16-8L4 4v6l10 2-10 2z" />
          </svg>
        </button>
      </div>

      <label for="file-upload" class="upload-button">
        <span>Upload</span>
        <input type="file" id="file-upload" class="file-input" />
      </label>
    </div>
  </main>
</div>
