# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log

# Python
.venv/
__pycache__/
*.pyc

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# Angular specific
.angular
/frontend/.angular/
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# Database
/backend/data/flashy.db

# System files
.DS_Store
Thumbs.db
