.home-container {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    div {
        max-width: 70vw;
        z-index: 1;

        .hero {
            text-align: center;
            padding: 4rem 2rem 2rem 2rem;

            h1 {
                font-size: 3rem;
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            .subtitle {
                font-size: 1.25rem;
                color: var(--text-color-secondary);
                margin-bottom: 2rem;
            }

            .button {
                padding: 1rem 2rem;
                font-size: 1.125rem;
                background-color: var(--primary-color);
                color: var(--text-color);
                transition: all 0.2s ease;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

                &:hover {
                    background-color: var(--primary-alt-color);
                    transform: translateY(-5px);
                }
            }
        }

        .subjects {
            h2 {
                text-align: center;
                font-size: 2rem;
                color: var(--text-color);
                margin-bottom: 3rem;
            }

            .subject-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, auto));
                gap: 2rem;
                padding: 0 1rem;
                margin: 0 auto;
                justify-content: center;
            }

            .subject-card {
                background-color: var(--secondary-color);
                padding: 2rem;
                border-radius: 8px;
                text-align: center;
                transition: transform 0.2s ease;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
                cursor: pointer;

                &:hover {
                    transform: translateY(-5px);
                }

                h3 {
                    color: var(--text-color);
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }

                p {
                    color: var(--text-color-secondary);
                    line-height: 1.5;
                }
            }
        }
    }
}
