<div class="home-container">
  <div>
    <section class="hero">
      <h1>Welcome to Flashy</h1>
      <p class="subtitle">AI-Powered Flashcards for Smarter Learning</p>
      <button class="button" routerLink="/new-subject">Create A Subject</button>
    </section>

    <section class="subjects">
      <h2>Your Subjects</h2>
      <div class="subject-grid">
        <div
          *ngFor="let subject of subjects"
          [routerLink]="['/chat', subject.id]"
          class="subject-card"
        >
          <h3>{{ subject.subject_name }}</h3>
          <p>
            {{ subject.subject_desc }}
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
