<div class="home-container">
  <section class="hero">
    <h1>Welcome to Flashy</h1>
    <p class="subtitle">AI-Powered Flashcards for Smarter Learning</p>
    <button class="cta-button" routerLink="/new-subject">
      Create A Subject
    </button>
  </section>

  <section class="subjects">
    <h2>Your Subjects</h2>
    <div class="subject-grid">
      <div class="subject-card">
        <h3>Subject 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          rerum, animi ipsum ex enim quis amet asperiores mollitia, ut dolor
          veritatis maxime, earum aliquid explicabo! Asperiores numquam illo
          blanditiis eligendi.
        </p>
      </div>
      <div class="subject-card">
        <h3>Subject 2</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas
          tempora blanditiis, inventore fugiat voluptatem, molestias ipsa ab
          corporis debitis, facilis reprehenderit facere dolores architecto
          mollitia at? Vitae, doloribus cumque.
        </p>
      </div>
      <div class="subject-card">
        <h3>Subject 3</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas
          tempora blanditiis, inventore fugiat voluptatem, molestias ipsa ab
          corporis debitis, facilis reprehenderit facere dolores architecto
          mollitia at? Vitae, doloribus cumque.
        </p>
      </div>
      <div class="subject-card">
        <h3>Subject 4</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat quas
          tempora blanditiis, inventore fugiat voluptatem, molestias ipsa ab
          corporis debitis, facilis reprehenderit facere dolores architecto
          mollitia at? Vitae, doloribus cumque.
        </p>
      </div>
    </div>
  </section>
</div>
