<main class="main">
  <div class="messages-container">
    <div class="sent-messages">
      <div class="message" *ngFor="let message of sentMessage">
        <p>{{ message }}</p>
      </div>
    </div>
    <div class="received-messages">
      <div class="message" *ngFor="let message of receivedMessage">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>

  <div class="input-section">
    <div class="input-wrapper">
      <input
        type="text"
        class="message-input"
        placeholder="Type your message..."
      />
      <button class="send-button" type="submit">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 24 24"
          class="send-icon"
        >
          <path d="M4 20l16-8L4 4v6l10 2-10 2z" />
        </svg>
      </button>
    </div>

    <label for="file-upload" class="upload-button">
      <span>Upload</span>
      <input type="file" id="file-upload" class="file-input" />
    </label>
  </div>
</main>
<router-outlet />
